<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Tarea</title>
</head>
<body>
    <h1>Agregar Nueva Tarea</h1>
<form action="/tasks" method="post">
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <label for="completed">¿Completada?</label>
    <input type="checkbox" id="completed" name="completed" value="true">
    <br>
    <button type="submit">Guardar</button>
</form>
 <a href="tasks">Volver a la lista de tareas</a>

</body>
</html>